<div id="<%= dom_id user %>">
  <p>
    <strong>Firstname:</strong>
    <%= user.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= user.qualification %>
  </p>

</div>
